.tab-content>.tab-pane {
    background-color: var(--light-bkg);
    height: 75vh;
}


.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 90vw;
    height: 500px !important;
}

.reports-radio-text {
    margin-left: 10px;
}

.input-group-text {
    margin-right: 10px;
}